@import url('https://fonts.googleapis.com/css?family=Heebo|Mali|Source+Code+Pro&display=swap');
.App {
  font-family: 'Mali', cursive;
}
.header {
  position: relative;
}
.header h1 {
  text-align: center;
  color: #645dd7;
}
.header ul {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2.5;
  margin: 0;
}
.header li {
  list-style-type: none;
  display: inline-block;
  margin: 0 8px;
}
.header li a {
  color: #645dd7;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
}
.editor-container {
  position: relative;
}
.editor-container > h2 {
  color: #fb3640;
}
.preview-container > h2 {
  color: #f7b32b;
}
.editor,
.preview {
  flex: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 47vw;
  min-height: 50vh;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  text-align: left;
  padding: 0.4rem;
  height: 100%;
}

.editor {
  background-color: #282c34;
  font-size: 1.2rem;
  border: none;
  color: #aaa;
  font-family: 'Source Code Pro', monospace;
}

.preview {
  font-family: 'Heebo', sans-serif;
  background-color: #fef9ff;
}

.editor textarea {
  width: 100%;
  overflow-y: visible;
  padding: 0.7rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #282c34;
  color: #aaa;
}
.clr-btn {
  position: absolute;
  right: 10px;
  margin: 5px;
  padding: 6px 12px;
  background-color: #fff;
  border-color: transparent;
  border-radius: 6px;
  font-size: 17px;
}
.clr-btn:hover {
  transform: scale(1.05);
}
